.pallete{
color: #343330;
color: #4464AD;
color: #A1C6EA;
color: #FCD0A1;
}
html{
    font-family: 'Ubuntu', sans-serif;
    background-color: #343330;
}

#top-nav ul {
    color: #FCD0A1;
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
li {
    font-weight: 400;
    font-size: 3rem;
    float: right;
    padding: 1vw;
}